<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ianhanniballake.contractiontimer"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--  Add preview activity. -->
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true">  <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="tagmanager.c.com.ianhanniballake.contractiontimer"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>