<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ianhanniballake.contractiontimer.provider"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name=".ContractionProvider"
            android:authorities="com.ianhanniballake.contractiontimer"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
    </application>

</manifest>